# Discord Bot Token
DISCORD_TOKEN=MTQ5MDEwNTkxNTk5Nzk1MDA1Mg.GBe5mC.g2DZsf6_0b0WK9tTTmZdj2pLdSeHsY9Q8bb0RA

# Anthropic API Key (https://console.anthropic.com/keys)
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxx

# Gmail credentials
GMAIL_ADDRESS=your_email@gmail.com
GMAIL_PASSWORD=your_app_password_here
